<style>
    .layui-box {
        text-align: center;
        margin-top: 22px;
    }
</style>
<link href="~/Resource/js/plugins/layer/skin/layui.css" rel="stylesheet" />
<script src="~/Resource/js/plugins/layer/layui.js"></script>
<div class="layui-box">
    <div class="layui-box layui-upload-button">
        @using (Html.BeginForm("Upload", "Manage", FormMethod.Post, new { target = "layui-upload-iframe", enctype = "multipart/form-data" }))
{
    <input required type="file" id="FileUpload" name="FileUpload" class="layui-upload-file" />
}
        <span class="layui-upload-icon"><i class="layui-icon">&#xe61f;</i>上传文件</span>
    </div>
</div>
    <script>
        var index = parent.layer.getFrameIndex(window.name); //获取窗口索引
        layui.use('upload',
            function() {
                layui.upload({
                    url: '/Service/Manage/Upload?SecondaryId=@ViewBag.SecondaryId',
                    title: '请上传压缩包吧亲',
                    ext: 'zip|rar|tar|7z|jar|cab|iso|ace',
                    type: 'file',
                    before: function(input) {
                        //返回的参数item，即为当前的input DOM对象
                        console.log('文件上传中');
                    },
                    success: function(res, input) {
                        if (res.IsSuccess) {
                            parent.$("table#jqGridList_2").trigger("reloadGrid");
                            parent.layer.msg("上传成功！", { icon: 1 });
                            parent.layer.close(index);
                        } else {
                            parent.layer.msg(res.Message);
                        }
                    }
                });
            });
    </script>
